<li class="list-group-item mx-auto my-1 px-3 py-2 bg-primary rounded border border-info text-light container ">
    <div class="row">
        <div class="col-md-8 col-sm-6">

            <span class=" text-wrap "> {{burger_name}}</span>
        </div>

        <div class="col-md-4 col-sm-6 d-flex justify-content-end">

            {{#if devoured}}
            {{else}}
            <button class="devour-btn btn btn-secondary btn-sm  " data-burger-id="{{id}}" type="submit">Devour!</button>
            {{/if}}
            <button class="trash-btn btn btn-sm btn-danger   " data-burger-name="{{burger_name}}" type="submit"><i
                    class='fas fa-trash fa-lg ' data-burger-id="{{id}}"></i>
            </button>
        </div>

    </div>
    {{!-- style='size:36px' --}}
</li>